<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <script src="https://kit.fontawesome.com/28bad09926.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/">IMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sales">Sales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inventories">Inventories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stock">Stock</a>
        </li>

      </ul>
    </div>
  </nav>
  <!-- navbar end -->
  <br>



  <div class="container">


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Item
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('add_product') }}" method="POST">
              <div class="form-group">
                <label for="product_name">Product Name</label>
                <input class="form-control" type="text" name="product_name" placeholder="Product Name" required>
              </div>
              <div class="form-group">
                <label for="buying_price">Buying Price</label>
                <input class="form-control" type="text" name="buying_price" placeholder="Buying Price" required>
              </div>
              <div class="form-group">
                <label for="selling_price">Selling price</label>
                <input class="form-control" type="text" name="selling_price" placeholder="Selling Price" required>
              </div>
              <div class="form-group">
                <label for="stock_quantity">Stock Quantity</label>
                <input class="form-control" type="text" name="stock_quantity" placeholder="stock_quantity" required>
              </div>

              <button type="submit" class="btn btn-md btn-success">Submit</button>
            </form>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <br>


    <div class="row">
      <div class="col-lg-2">

        <ul class="list-group">
          <li class="list-group-item">
            <!-- avatar -->
            <!-- <img src="/static/images/stock.jpg" class="rounded float-left mr-3" alt="Dashboard Avatar" width="50px" height="30px"> -->
            <!-- heading -->




            <h3><i class="fa fa-bars" aria-hidden="true"></i> Nav Menu</h3>
          </li>
          <a href="/dashboard">
            <li class="list-group-item"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</li>
          </a>
          <a href="/inventories">
            <li class="list-group-item"><i class="fa fa-database" aria-hidden="true"></i> Inventories
            </li>
          </a>
          <a href="/sales">
            <li class="list-group-item"><i class="fa fa-money" aria-hidden="true"></i> Sales</li>
          </a>
          <a href="/stock">
            <li class="list-group-item"><i class="fa fa-dropbox" aria-hidden="true"></i> Stock</li>
          </a>
          <a href="/users">
            <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> Users</li>
          </a>
        </ul>
      </div>
      <div class="col-lg-10 col-md-3 col-sm-12">

        <table id="example" class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">B.P</th>
              <th scope="col">S.P</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">Makesale</th>
              <th scope="col">View Sale</th>
            </tr>
          </thead>

          <tbody>


            {% for records in records %}
            <tr>
              <td>{{records[0]}}</td>
              <td>{{records[1]}}</td>
              <td>{{records[2]}}</td>
              <td>{{records[3]}}</td>
              <td>{{records[4]}}</td>


              <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#Makesale{{records[0]}}">
                  Make Sale
                </button>

                <!-- Modal -->
                <div class="modal fade" id="Makesale{{records[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">make sale the product name:{{records[1]}} </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="/make_sale" method="post">
                        <div class="form-group">
                          
                          <input name='pid'  value="{{records[0]}}" readonly class = "form-control">
                        </div>
                        <div class="form-group">
                          <label>Quantity:</label>
                          <input name='quantity' type="name" class="form-control" placeholder="Enter quantity">
                        </div>
                        
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      <div class="modal-body">
                      </form> 
                        
                        

                      </div>
                      
                        
                        
                      </div>
                    </div>
                  </div>
                </div>

              </td>
              <td>
                <td> <a href="sales/{{ records[0] }}"> View Sales </a> </td>
                
                
              
              </td>
              
              





            </tr>

            {% endfor %}
            
          </tbody>


        </table>
      </div>



    </div>









  </div>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script>

    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>
</body>

</html>